 #myFirstClass {
        color: red ;
        background-color: aqua;
      }
      #mySecondClass {
        color: blue;
        background-color: yellow;
      }
      #myThirdClass {
        color: green;
        background-color: pink;
      } 